alembic
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Authlib
babel
beautifulsoup4
bleach
blinker
cachetools
cattrs
certifi
cffi
charset-normalizer
chembl-webresource-client
click
cloudpickle
colorama
colorlover
comm
contourpy
cryptography
cufflinks
cycler
cyclopts
databricks-sdk
debugpy
decorator
defusedxml
dnspython
docker
docstring_parser
docutils
easydict
email-validator
exceptiongroup
executing
fastapi
fastjsonschema
fastmcp
Flask
fonttool
fqdn
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-rela
greenlet
gunicorn
h11
httpcore
httpx
httpx-sse
idn
imbalanced-learn.14.0
imblearn
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygment
jupyterlab_server
jupyterlab_widgets
kiwisolve
lark
lazy-object-proxy
lazypredict
lightgbm
Mako
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mcp
mdurl
mistune
mlflow
mlflow-skinny
mlflow-tracing
more-itertools
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openapi-core
openapi-pydantic
openapi-schema-validator
openapi-spec-validator
opentelemetry-api
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
padelpy
pandas
pandocfilters
parse
parso
pathable
patsy
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
pyperclip
pytest-runner
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pywin32
pywinpty
PyYAML
pyzmq
rdkit
referencing
requests
requests-cache
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rich-rst
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
sse-starlette
stack-data
starlette
statsmodels
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
tornado
tqdm
traitlet
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
url-normalize
urllib3
uvicorn
waitress
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
xgboost
zipp
